{% extends "base.html" %}
{% block content %}
<section id="content">

<ol id="post-list">
{% for article in articles_page.object_list %}
            <li><article id="hentry">
    <h2 class="entry-title"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2>
    <small><i><time class="published" datetime="{{ article.date.isoformat() }}"> {{ article.locale_date }} </time></i></small>
    <div class="entry-content"> {{ article.summary }} </div>
    </article></li>
{% endfor %}
</ol>
</section>
{% endblock content %}